name: build and push docker image manjarocn/base

on:
  push:
    branches:
      - 'main'

  schedule:
    - cron: '* 8 * * *'

  workflow_dispatch: {}

jobs:
  docker:
    name: build and push
    runs-on: ubuntu-latest
    steps:
      - name: check out the repo
        uses: actions/checkout@v2

      - name: login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: enable experimental features
        run: |
          whoami
          cat /etc/docker/daemon.json
          echo '{"experimental": true}' | sudo tee -a /etc/docker/daemon.json
          sudo systemctl restart docker

      - name: build and push
        run: ./build.sh
