name: build

on:
  push:
    branches:
      - 'main'

  schedule:
    - cron: '0 8 * * *'

  workflow_dispatch: {}

jobs:
  docker:
    name: build and push
    runs-on: ubuntu-latest
    steps:
      - name: enable experimental features
        run: |
          cat /etc/docker/daemon.json | jq '. + { "experimental": true }' | sudo tee /etc/docker/daemon.json >/dev/null
          sudo systemctl restart docker

      - name: login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: check out the repo
        uses: actions/checkout@v2

      - name: build branch stable
        run: BRANCH=stable ./build.sh

      - name: build branch testing
        run: BRANCH=testing ./build.sh

      - name: build branch unstable
        run: BRANCH=unstable ./build.sh
